<template>
  <form @submit.prevent="addParticipation" class="mb-3">
    <div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" v-bind:class="[{disabled: !pagination.prev_page_url}]">
            <a class="page-link" href="#" @click="fetchQuestions(pagination.prev_page_url)">Previous</a>
          </li>
          <li class="page-item disabled">
            <a
              class="page-link text-dark"
              href="#"
            >Question {{ pagination.current_page}} of {{ pagination.last_page}}</a>
          </li>
          <li class="page-item" v-bind:class="[{disabled: !pagination.next_page_url}]">
            <a class="page-link" href="#" @click="fetchQuestions(pagination.next_page_url)">Next</a>
          </li>
        </ul>
      </nav>
      <!-- <input type="hidden" value="pagination.next_page_url" v-model="question.next_page_url"> -->
      <div class="card card-body" v-for="question in questions" v-bind:key="question.id">
        <h3>{{ question.id}}</h3>
        <p>{{ question.title}}</p>
        <div class="card card-body" v-for="ans in question.answer" v-bind:key="ans.id">
          <p>
            <input
              name="tt"
              type="radio"
              :id="ans.id"
              v-bind:value="ans.id"
              v-model="question.answer_id"
            >
            {{ ans.title}}
          </p>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-light btn-block">Save</button>
  </form>
</template>
<script>
export default {
  data() {
    return {
      questions: [],
      question: {
        id: "",
        user_id: "",
        question_id: "",
        answer_id: "",
        next_page_url: ""
      },
      question_id: "",
      pagination: {},
      edit: false
    };
  },
  created() {
    this.fetchQuestions();
  },
  methods: {
    fetchQuestions(page_url) {
      let vm = this;
      // parameter needs to be code driven, presently hard coded
      page_url = page_url || "api/question/1";
      fetch(page_url)
        .then(res => res.json())
        .then(res => {
          this.questions = res.data;
          vm.makePagination(res.meta, res.links);

          console.log(res.data);
        })
        .catch(err => console.log(err));
    },
    makePagination(meta, links) {
      let pagination = {
        current_page: meta.current_page,
        last_page: meta.last_page,
        next_page_url: links.next,
        prev_page_url: links.prev
      };
      this.pagination = pagination;
    },
    addParticipation() {
      //add
      alert(
        "Resume from here, need to modify the DB, some fields are unnecessary, removed them to continue."
      );
      this.fetchQuestions();
      return;
      console.log(this.question);
      fetch("api/participation", {
        method: "post",
        body: JSON.stringify(this.question),
        headers: {
          "content-type": "application/json"
        }
      })
        .then(res => res.json())
        .then(data => {
          //this.article.title = "";
          //this.color = "";
          alert("Answer Added");
          this.fetchQuestions();
        })
        .catch();
    }
  }
};
</script>
